/* ==============================================>>> {{{ الهيدر }}} <<<==================================== */
/* ---------------------------------------------------------------- {{{ Section-Background-2 => 1-2 }}} <<< */
.section-background-1
{
    height: 31rem;
    background: linear-gradient(180deg, var(--color-white), #0e8be428);

    



    @media (max-width: 768px) {
        height: 20rem;
    }

    

    .container
    {
        flex-direction: row;
        justify-content: space-around;

        position: relative;



        @media (max-width: 768px) {
            justify-content: space-between;
        }
    



        .double
        {
            align-items: start;
    
    
    
            .double
            {
                flex-direction: row;
                gap: 1rem;
    
    
                h4:last-child
                {
                    color: var(--color-red);
                }
            }
        }



        img
        {
            height: 80%;

            transform: scaleX(-1);



            @media (max-width: 768px) {
                height: 78%;

                position: absolute;
                left: 0;
                z-index: var(--z-index--1);
            }

        }
    }
}
/* ---------------------------------------------------------------- {{{ Section-Background-2 => 1-2 }}} <<< */









/* ---------------------------------------------------------------- {{{ Background-2 => 1-2 }}} <<< */
.background-1
{
    height: 27vh;
    margin-top: unset;



    .title-1
    {
        color: var(--color-text-pro);
    }
}
/* ---------------------------------------------------------------- {{{ Background-2 => 1-2 }}} <<< */
/* ==============================================>>> {{{ الهيدر }}} <<<==================================== */