/* ---------------------------------------------------------------- {{{ Cart-1 => 1-2 }}} <<< */
.section-cart-1
{
    .container
    {
        align-items: end;
        gap: 3rem;
    }



    .cart, .total
    {
        padding: 1rem 2.3rem;
    }
    .total
    {
        gap: 1rem;
    }
}
/* ---------------------------------------------------------------- {{{ Cart-1 => 1-2 }}} <<< */