/* ---------------------------------------------------------------- {{{ Contact-1 => 1-2 }}} <<< */
.section-contact-1
{
    .container
    {
        gap: 2rem;



        .card-1
        {
            flex-direction: row-reverse;
            gap: 2rem;
        }
    }
}
/* ---------------------------------------------------------------- {{{ Contact-1 => 1-2 }}} <<< */