/* ==============================================>>> {{{ الفووتر }}} <<<==================================== */
/* ---------------------------------------------------------------- {{{ Footer-1 => 2-2 }}} <<< */
footer
{
    border-top: var(--border-primary);
    box-shadow: var(--box-primary-width) var(--box-primary-color);



    .container
    {



        .foot
        {
            h4
            {
                font-weight: 600;
                color: var(--color-primary);
            }
        }
    }
}
/* ---------------------------------------------------------------- {{{ Footer-1 => 2-2 }}} <<< */
/* ==============================================>>> {{{ الفووتر }}} <<<==================================== */