:root
{
    /* ==============================================>>> {{{ 1600px }}} <<<==================================== */
    /* ---------------------------------------------------------------- {{{ Background }}} <<<  */
    --background-image-pc-1: url(../../files/background-1.jpg);
    /* ---------------------------------------------------------------- {{{ Background }}} <<<  */
    /* ==============================================>>> {{{ 1600px }}} <<<==================================== */





























    @media (max-width: 768px) {
        /* ==============================================>>> {{{ 768px }}} <<<==================================== */
        /* ---------------------------------------------------------------- {{{ Background }}} <<<  */
        /* --background-image-pc-1: ; */
        /* ---------------------------------------------------------------- {{{ Background }}} <<<  */
        /* ==============================================>>> {{{ 768px }}} <<<==================================== */
    }
}















.background-1
{
    background-image: var(--background-image-pc-1);
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    height: 100%;
}