:root
{
    /* ==============================================>>> {{{ 1600px }}} <<<==================================== */
    /* ---------------------------------------------------------------- {{{ الألوان }}} <<<  */
    /*
        Border
    */
    --border-primary: 1px solid #ddd;



    /*
        Box-Shadow
    */
    --box-primary-color: rgba(0, 0, 0, 0.1);
    --box-primary-color-hover: rgba(0, 0, 0, 0.3);
    --box-primary-width: 0px 1px 5px;
    /* ---------------------------------------------------------------- {{{ الألوان }}} <<<  */









    /* ---------------------------------------------------------------- {{{ المسافات }}} <<<  */
    /* 
        Border-radius
    */
    --radius-4: 0.4rem;
    


    /*
        Width
    */
    --width-container: 80%;
    /* ---------------------------------------------------------------- {{{ المسافات }}} <<<  */









    /* ---------------------------------------------------------------- {{{ المفردات }}} <<<  */
    /*
        Z-index
    */
    --z-index--1: -1;
    --z-index--2: -2;
    --z-index--3: -3;
    --z-index-1: 1;
    --z-index-2: 2;
    --z-index-3: 3;
    --z-index-4: 4;



    /*
        Display
    */
    --none: none;
    /* ---------------------------------------------------------------- {{{ المفردات }}} <<<  */
    /* ==============================================>>> {{{ 1600px }}} <<<==================================== */
    
    
    
    
    
    
    
    




















    
    /* ==============================================>>> {{{ 1280px }}} <<<==================================== */
    /* @media (max-width: 1200px) {
    } */
    /* ==============================================>>> {{{ 1280px }}} <<<==================================== */
    
    
    
    





















    
    
    
    
    /* ==============================================>>> {{{ 768px }}} <<<==================================== */
    @media (max-width: 768px) {
        /* ---------------------------------------------------------------- {{{ المسافات }}} <<<  */
        /*
            Width
        */
        --width-container: 90%;
        /* ---------------------------------------------------------------- {{{ المسافات }}} <<<  */









        /* ---------------------------------------------------------------- {{{ المفردات }}} <<<  */
        /*
            Display
        */
        --none: flex;
        /* ---------------------------------------------------------------- {{{ المفردات }}} <<<  */
    }
    /* ==============================================>>> {{{ 768px }}} <<<==================================== */
}





























/* ==============================================>>> {{{ أشكال }}} <<<==================================== */
.money-line
{
    position: relative;
}
.money-line::after
{
    content: '';
    background: #8d8d8d;

    width: 100%;
    height: 2px;

    display: block;

    position: absolute;
    top: var(--size-h4);
    left: 0;
}
/* ==============================================>>> {{{ أشكال }}} <<<==================================== */































/* ==============================================>>> {{{ الأساس }}} <<<==================================== */
/* ---------------------------------------------------------------- {{{ HTML..... }}} <<<  */
/*
    HTML, *
*/
html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*
{
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    list-style: none;
    text-decoration: none;

    transition: 200ms all ease;
}



/*
    Display
*/
body, header, footer, section, .container, nav, .sidebar-1, .sidebar-2, .foot,                                /* HTML */
form, .container-form, .container-search,                                                                     /* Form */
details, summary, .container-details,                                                                         /* Details */
.container-cards, .card, .cart, .container-cart, .total, .double, .producut-images, .producut-content, .container-producut-images, .products,        /* Groups */
label, a, .notification-absolute                                                                              /* Elements */
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .container, header nav, header a, footer .container,                     /* HTML */
.container-search,                                                               /* Form */
summary,                                                                        /* Details */
.cart, .container-cart, .total                                                  /* Groups */
{
    flex-direction: row;
}
header .container, footer .container,                                           /* HTML */
.container-cards, .card, .cart, .container-cart                                 /* Groups */
{
    justify-content: space-between;
}



/*
    Color
*/
.card-icon
{
    color: var(--color-primary);
}
h3, h4, h5, h6,
.card-name
{
    color: var(--color-text-pro);
}
p,
.money-line
{
    color: var(--color-text);
}
a,
#closeNav
{
    color: var(--color-a);
}
.logo-text
{
    color: var(--color-light);
}
button, .button,
.notification-absolute
{
    color: var(--color-white);



    *
    {
        color: var(--color-white); 
    }
}

body, .container-details a
{
    background: var(--background-body);
}
header, header nav
{
    background: var(--background-header);
} 
button, .button,
.icon-search, .notification-absolute
{
    background: var(--color-a);
}
/* ---------------------------------------------------------------- {{{ HTML..... }}} <<<  */










/* ---------------------------------------------------------------- {{{ Body..... }}} <<<  */
body
{
    width: 100%;
}
header
{
    width: 100%;
    height: var(--height-header);

    position: relative;



    nav
    {
        @media (max-width: 768px) {
            width: 100%;
            padding: var(--padding-nav) 0;
            
            flex-direction: column;
            
            position: absolute;
            right: 0;
            top: 100%;
            display: none;
            z-index: var(--z-index-3);
        }
        


        .container-search
        {
            padding: 0 var(--padding-nav);


            
            @media (max-width: 768px) {
                padding: var(--padding-nav) 0;
            }
        }
        a
        {
            padding: 0 var(--padding-nav);
            white-space: nowrap;



            @media (max-width: 768px) {
                padding: calc(var(--padding-nav) / 2) 0;
            }
        }
        a:last-child
        {
            padding: 0 var(--padding-nav) 0 0;


            @media (max-width: 768px) {
                padding: calc(var(--padding-nav) / 2) 0;
            }
        }
    }
}
footer
{
    width: 100%;
    padding: var(--padding-footer);
    margin: var(--margin-section) 0 0 0;

    position: relative;





    .container
    {
        align-items: start;



        @media (max-width: 768px) {
            flex-direction: column;
            gap: 2rem;
        }



        .foot
        {
            height: 100%;
            width: var(--width-foot);

            align-items: start;
            text-align: start;



            @media (max-width: 768px) {
                width: 100%;
            }
        }
        .foot:first-child
        {
            width: 40%;



            @media (max-width: 768px) {
                width: 100%;
            }
        }
    } 



    .copyright
    {
        font-size: var(--size-p);

        width: var(--width-container);

        text-align: left;
    }
}
section
{
    width: 100%;
    margin: var(--margin-section) 0;
}
.container
{
    width: var(--width-container);
    height: 100%;
}
/* ---------------------------------------------------------------- {{{ Body..... }}} <<<  */









/* ---------------------------------------------------------------- {{{ Groups }}} <<<  */
/*
    Form
*/
form
{
    width: 100%;


    button, .button
    {
        width: 100%;
        height: var(--height-input);
    }
}
input, textarea
{
    color: var(--color-primary);
    border: var(--border-primary);

    font-size: var(--size-p);
    font-weight: var(--weight-h6);

    width: 100%;
    height: var(--height-input);
}
.container-search
{


    input
    {
        width: unset;
        border-top-right-radius: unset !important;
        border-bottom-right-radius: unset !important;
    }
    .icon-search
    {
        height: var(--height-input);
        width: 3rem;
        border-top-left-radius: unset !important;
        border-bottom-left-radius: unset !important;
    }
}



/*
    Details
*/
details
{
    position: relative;

    z-index: var(--z-index-3);
    


    .container-details
    {
        border: var(--border-primary);

        width: 100%;

        position: absolute;
        right: 0;
        top: 100%;



        a
        {
            width: 100%;
            padding: calc(var(--padding-nav) / 2) 0;
        }
        a:not(:last-child)
        {
            border-bottom: var(--border-primary);
        }
    }



    summary
    {
        width: 100%;
        height: 100%;
    }
}



/*
    Card
*/
.container-cards
{
    height: 100%;
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;



    .card
    {
        box-shadow: var(--box-primary-width) var(--box-primary-color);
        border: var(--border-primary);

        width: var(--width-card);
        padding: var(--padding-card);



        .double
        {
            align-items: start;
        }
    }
}



/*
    Cart
*/
.cart
{
    border: var(--border-primary);
    box-shadow: var(--box-primary-width) var(--box-primary-color);

    border-radius: var(--radius-4);
    width: 100%;



    @media (max-width: 768px) {
        flex-direction: column;
    }



    .container-cart
    {
        width: 100%;



        @media (max-width: 768px) {
            flex-direction: column;
            align-items: start;
        }



        .double
        {
            align-items: start;
            @media (max-width: 768px) {
                width: 100%;

                flex-direction: row;
                justify-content: space-between;
            }
        }
    }



    img
    {
        padding-left: 7rem;



        @media (max-width: 768px) {
            padding-left: 0;
        }
    }
}
.total
{
    border: var(--border-primary);
    box-shadow: var(--box-primary-width) var(--box-primary-color);

    border-radius: var(--radius-4);
    width: 100%;

    justify-content: end;



    @media (max-width: 768px) {
        width: 100%;

        flex-direction: row;
        justify-content: space-between;
    }
}



/*
    Product
*/
.producut-images, .producut-content
{
    height: 100%;
    justify-content: space-between;



    @media (max-width: 768px) {
        height: unset;
        width: 100% !important;
    }



    img
    {
        height: 100%;
    }
}



/*
    Products
*/
.section-products
{
    .container
    {
        flex-direction: row;
        align-items: start;



        @media (max-width: 768px) {
            flex-direction: column;
        }
    }



    .sidebar-1
    {
        height: 100%;



        @media (max-width: 768px) {
            width: 100% !important;
        }
    
    
    
        .double
        {
            width: 100%;
    
            align-items: start;
        }
    }
    .sidebar-2
    {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        


        @media (max-width: 768px) {
            width: 100% !important;
        }
    
    
    
        .products
        {
            box-shadow: var(--box-primary-width) var(--box-primary-color);

            width: var(--width-products);
        
            position: relative;
            cursor: pointer;



            img
            {
                width: 60%;
            }
        }
    }
}
/* ---------------------------------------------------------------- {{{ Groups }}} <<<  */









/* ---------------------------------------------------------------- {{{ Elements }}} <<<  */
/*
    H1.....
*/
.title
{
    text-align: start;
    width: 100%;
}
h1
{
    font-size: var(--size-h1);
    font-weight: var(--weight-h1);
}
h2
{
    font-size: var(--size-h2);
    font-weight: var(--weight-h2);
}
h3
{
    font-size: var(--size-h3);
    font-weight: var(--weight-h3);
}
h4
{
    font-size: var(--size-h4);
    font-weight: var(--weight-h4);
}
h5
{
    font-size: var(--size-h5);
    font-weight: var(--weight-h5);
}
h6,
nav a, header summary, button, .button, .button-pro
{
    font-size: var(--size-h6);
    font-weight: var(--weight-h6);
}
p
{
    font-size: var(--size-p);
    font-weight: var(--weight-p);
}
a,
#closeNav
{
    font-size: var(--size-p);
    font-weight: var(--weight-p);
}



/*
    Iframe
*/
iframe
{
    box-shadow: var(--box-primary-width) var(--box-primary-color);
}



/*
    Button
*/
button, .button
{
    border: unset;
    border-radius: var(--radius-4);
    
    white-space: nowrap;
    cursor: pointer;
}
.button-pro
{
    padding: var(--padding-button);
}
/* ---------------------------------------------------------------- {{{ Elements }}} <<<  */









/* ---------------------------------------------------------------- {{{ Hover }}} <<<  */
/*
    H1.....
*/
a:hover
{
    color: var(--color-light);



    .notification-absolute
    {
        background: var(--color-light);
    }
}



/*
    Button
*/
button:hover, .button:hover,
.icon-search:hover
{
    color: var(--color-white);
    background: var(--color-light);
}



/*
    Button
*/
.products:hover
{
    box-shadow: var(--box-primary-width) var(--color-light) !important;
}



/*
    Input.....
*/
input:focus, textarea:focus
{
    border-color: var(--color-primary);
    outline: unset;
}
.container-search input:focus
{
    outline: unset;
    box-shadow: 0px 2px 12px var(--box-primary);
}
/* ---------------------------------------------------------------- {{{ Hover }}} <<<  */
/* ==============================================>>> {{{ الأساس }}} <<<==================================== */





























/* ==============================================>>> {{{ الاختصارات }}} <<<==================================== */
/*
    Notification
*/
.notification-relative
{
    position: relative;
    
    
    
    .notification-absolute
    {        
        font-size: 0.9rem;
        
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        
        position: absolute;
        top: -0.8rem;
        left: -0.8rem;
    }
}



/*
    Notification
*/
.s
{
    background: #ddd;

    width: 1px;
    height: 90%;

    display: block;

    position: absolute;
    bottom: 5%;
    left: 0;
}









/* ---------------------------------------------------------------- {{{ Hover }}} <<<  */
/*
    Magnetic
*/
.magnetic:hover {
    transform: scale(1.05) translateY(-1px);
}
/* ---------------------------------------------------------------- {{{ Hover }}} <<<  */
/* ==============================================>>> {{{ الاختصارات }}} <<<==================================== */






























/* ==============================================>>> {{{ جافاسكربت }}} <<<==================================== */
/* ---------------------------------------------------------------- {{{ Elements }}} <<<  */
/*
    Nav
*/
#closeNav
{
    z-index: var(--z-index-3);
    
    display: var(--none);
}
/* ---------------------------------------------------------------- {{{ Elements }}} <<<  */









/* ---------------------------------------------------------------- {{{ Hover }}} <<<  */
.background_light_js:hover
{
    @media (max-width: 768px) {
        background: var(--color-a);
    }
}
/* ---------------------------------------------------------------- {{{ Hover }}} <<<  */
/* ==============================================>>> {{{ جافاسكربت }}} <<<==================================== */